# Redirect all links from HTTP to HTTPS
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$

RewriteRule ^(.*) https://%{SERVER_NAME}/$1 [R,L]

RewriteRule ^action?$ /?action [L]

RewriteRule ^action/action?$ /?action [L]

RewriteRule ^asset-management-system?$ /?asset-management-system [L]


RewriteRule ^production-management-tracking?$ /?production-management-tracking [L]


RewriteRule ^production?$ /?production [L]

RewriteRule ^home?$ /?home [L]

RewriteRule ^vision?$ /?home [L]


RewriteRule ^introduction?$ /?home [L]
RewriteRule ^contact?$ /?home [L]








